@{
    ViewData["Title"] = "About NguberAdmin";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
  Welcome, you are at NguberAdmin. 
  This is administration page for Nguber Employees, if you are not Nguber employee then you have visited this page by mistake.
  We recommend that you visit our <a href="#">official site (when i have time to create ones)</a> instead.
</p>
<p>
  Thank you, Nguber Team
</p>
