@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mitrais [Development Center]<br />
    Kediri Street #38<br />
    Kuta - 80361 
    Bali, Indonesia
    <abbr title="Phone">P:</abbr>0800 1 401 550    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@nguber.com">support@Nguber.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@nguber.com">marketing@nguber.com</a>
</address>
